node_modules/
_srv*.out
_srv*.err
.env
firebase-debug.log
mobile-app/node_modules/
mobile-app/android/.gradle/
mobile-app/android/build/
mobile-app/android/app/build/
mobile-app/android/.idea/
mobile-app/android/local.properties
mobile-app/android/app/*.apk
mobile-app/.idea/
.idea/

